body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #272727;
}

/*<----- Header ----->*/
header {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1107px;
    margin: auto;
}

.header-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    color: #95989a;
}

/*----- nav menu -----*/
nav {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
}

ul {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

nav a {
    margin-right: 20px;
    font-size: 14px;
    color: #95989a;
    text-decoration: none;
}

.login {
    font-size: 14px;
    font-weight: 400;
    color: #95989a;
    text-decoration: none;
    text-transform: uppercase;
}

/*<----- Tabs ----->*/
.tabs {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}

h1 {
    font-size: 22px;
    color: #95989a;
}

.tabs li {
    margin-left: 15px;
    position: relative;
}

.tabs li:hover {
    cursor: pointer;
}

/*----- tabs-content -----*/
.tabs-content {
    padding: 40px 45px 43px 45px;
    border-radius: 10px;
    background: #f2f4ff url("../img/tabs-content-img.png") no-repeat bottom right 135px;
}

h2 {
    font-size: 36px;
}

p {
    margin-bottom: 90px;
    font-size: 18px;
    max-width: 320px;
}

button {
    padding: 16px 33px;
    font-size: 16px;
    font-weight: 700;
    border-right: 6px;
    background-color: #fcde29;
    border: none;
    cursor: pointer;
}